@use './base.css';
@use './fonts.scss';
@use './variables.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fonts.$def-font;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1920px;
    height: 100vh;
    background-color: variables.$def-bg-color;
}
.container{
    max-width: 1920px;
    padding-left: 49px;
    padding-right: 49px;

    @media (min-width:325px) and (max-width: 425px){
        padding-right: 15px;
        padding-left: 15px;
    }
    @media (min-width:425px) and (max-width: 1024px){
        padding-right: 25px;
        padding-left: 25px;
    }
}
.container-fluid{
    padding: 0;
    margin: 0;
}




header{
    padding-top: 15px;
    padding-bottom: 15px;



    .text-logo{
        text-transform: uppercase;   
    }

    .burger-menu{



        .burger-button{
            border: 0px solid transparent;
            background-color: transparent;
            .burger-lines{
                display: block;
                width: 26px;
                height: 3px;
                margin-top: 5px;
                background-color: #000;
            }
        }
    }

    .menu-overlay {
        position: fixed;
        inset: 0; /* top:0, left:0, right:0, bottom:0 */
        background: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;
      }

      .close {
        font-size: 3rem;
        background: none;
        border: none;
        color: white;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }


      .menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 2rem;
        color: white;
        text-align: center;
      
        a {
          color: white;
          text-decoration: none;
      
          &:hover {
            text-decoration: underline;
          }
        }
    }
}

// first section 
.first{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100vh;


    .big-img{
        max-width: 784px;
        max-width: 1007px;
        img{
            width: 100%;
        }
    }

    .first-heading{
        font-size: 32px;
        font-weight: 400;
        line-height: 45px;
        font-style: italic;
        text-transform: uppercase;
    }
    .text-block{
        max-width: 500px;
        margin-top: 112px;
    }
    .secondary-heading{
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: variables.$grey-color;
    }

    .get-started{
        border: 0px solid;
        border-radius: 0px;
        padding: 14.5px 45px;
        background-color: #000;
        color: variables.$def-bg-color;
        font-size: 20px;
        margin-bottom: 55px;
        margin-top: 55px;
    }

}